node_modules/
dist/
dist-ssr/
*.local

# vue-tsc (-b composite build) emitted artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts
# Ignore all env files except the example
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.log

.vercel
